<div class="level">
    <div class="level-left">
        <h1>Editing Haven</h1>
    </div>
    <% if policy(@haven).destroy? %>
        <div class="level-right">
            <%= link_to t('havens.show.destroy'),
                        haven_path(@haven),
                        method: :delete,
                        class: 'button is-danger',
                        data: { confirm: t('havens.show.confirm_destroy') }
            %>
      </div>
    <% end %>
</div>

<%= render 'form', haven: @haven %>

<%= link_to 'Show', @haven %> |
<%= link_to 'Back', havens_path %>
