<p>
  <strong>Name:</strong>
  <%= @haven.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @haven.description %>
</p>

<%= link_to 'Edit', edit_haven_path(@haven) %> |
<%= link_to 'Back', havens_path %>
