<% if hunter_backstory %>
  <h4><%= link_to hunter_backstory.backstory&.name, hunter_backstory %></h4>
  <ul>
  <% hunter_backstory.choices.each do |name, choices| %>
    <li><%= "#{name} - #{choices&.join(", ")}" %></li>
  <% end %>
  </ul>
<% end %>
