<p>
  <strong>Hunter:</strong>
  <%= link_to @hunter_backstory.hunter, @hunter_backstory.hunter %>
</p>

<p>
  <strong>Playbook:</strong>
  <%= link_to @hunter_backstory.playbook, @hunter_backstory.playbook %>
</p>

<p>
  <%= render 'hunter_backstory', playbook: @hunter_backstory.playbook, hunter_backstory: @hunter_backstory %>
</p>

<%= show_page_buttons(@hunter_backstory) %>
