<ul>
  <% moves.each do |move| %>
    <li><strong><%= link_to_move(move) %>:</strong> <%= move.description %>
      <div class="has-text-right">
        <% if move.rollable? && hunter %>
          <hunter-roll-move hunter_id=<%= hunter.id %> move_id=<%= move.id %> />
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
