<h1>Editing Hunters Improvement</h1>

<%= render 'form', hunters_improvement: @hunters_improvement %>

<%= link_to 'Show', hunter_hunters_improvement_path(hunter_id: @hunters_improvement.hunter_id, id: @hunters_improvement.id) %> |
<%= link_to 'Back', hunter_hunters_improvements_path(hunter_id: @hunters_improvement.hunter_id) %>
