<p>
  <strong>Hunter:</strong>
  <%= link_to(@hunters_improvement.hunter.name, @hunters_improvement.hunter) %>
</p>

<p>
  <strong>Improvement:</strong>
  <%= link_to(@hunters_improvement.improvement.description, improvement_path(@hunters_improvement.improvement)) %>
</p>

<p>
  <strong>Improved:</strong>
  <%= @hunters_improvement.improvable %>
</p>

<%= show_page_buttons(@hunters_improvement, @hunters_improvement.hunter) %>
