<% if errors.any? %>
  <b-message type="is-danger"
             aria-close-label="<%= t('.close_notif') %>"
             role="alert">
    <h2><%= t('.title', count: errors.count) %></h2>
    <ul>
      <% errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </b-message>
<% end %>
